<!DOCTYPE html>
<html>
    <head>
        <title><g:if env="development">Grails photo test</g:if><g:else>Photo Form</g:else></title>
        <meta name="layout" content="main">

    </head>
    <body>
    <g:form action="savePage" method="post" enctype="multipart/form-data" controller="page" >
       page
        <input type="text" name="page" />

       photo
        <input type="file" name="photo" />
        <br>
        <input type="submit">
    </g:form>
    </body>
</html>